<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV J.Alejandro L.F.</title>
    <link rel="stylesheet" type="text/css" media="screen" href="./styles/style-cv.css">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="shortcut icon" href="./image/icon.png">
    <link rel="stylesheet" href="./styles/stylenum.css">
</head>
<body>
    <div id="tam"></div>
    <header>
        <!-- <h1>José alejandro López Flores</h1> -->
    </header>
    <section id="app">
        <div v-if="menuVisible" id="Izquierda2" @click="setMenu()"><span class="icon-th-list"></span></div>
        
        <div v-if="leftVisible" id="Izquierda">
            <div id="descargar" onclick="confirmar()"><span class="icon-download"></span><span class="tooltip">Descargar curriculum</span></div>
            <div class="centrar">
                <img id="imgPer" src="./image/pp.jpg">
            </div>
            <div class="ct2">
                <h3>Jose alejandro Lopez Flores</h3>
                <!-- <small>Ing. en Sistemas Computacionales</small> -->
            </div>
            
            <div class="Botones">
                <ul>
                    <li @click="setScreen('DtPersonales')"><a v-bind:class="{activated: (screenActual === 'DtPersonales')}" id="btnDTP" href="#">Datos Personales</a></li>
                    <li @click="setScreen('HistorialACD')"><a v-bind:class="{activated: (screenActual === 'HistorialACD')}" id="btnHA" href="#">Historial Academico</a></li>
                    <li @click="setScreen('Habilidades')"><a v-bind:class="{activated: (screenActual === 'Habilidades')}" id="btnH" href="#">Habilidades</a></li>
                    <li @click="setScreen('ExpPro')"><a v-bind:class="{activated: (screenActual === 'ExpPro')}" id="btnEP" href="#">Experiencia Profecional</a></li>
                    <li @click="setScreen('Recon')"><a v-bind:class="{activated: (screenActual === 'Recon')}" id="btnPR" href="#">Reconocimientos</a></li>
                    <li @click="setScreen('Contac')"><a v-bind:class="{activated: (screenActual === 'Contac')}" id="btnC" href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
        <div id="Derecha">
            <div v-if="screenActual === 'DtPersonales'" class="cajas" id="DtPersonales" >
                <div class="titulos">
                    <img class="imageCur" src="./image/dtosicon.svg" >
                    <div class="texto">Datos personales</div> 
                </div>
                <div class="contenido">
                    <p><span style="font-weight: bold;">Nombre:</span> Jose Alejandro Lopez Flores</p>    
                    <p><span style="font-weight: bold;">Fecha de nacimiento:</span> 18 Noviembre de 1996</p>
                    <p><span style="font-weight: bold;">Estado civil:</span> Soltero</p>
                    <p><span style="font-weight: bold;">Nacionalidad:</span> Mexicana</p>
                    <p><span style="font-weight: bold;">Edad:</span> <span id="Edad"> 21 Años</span></p>
                </div>
            </div>
            <div v-if="screenActual === 'HistorialACD'" class="cajas" id="HistorialACD">
                <div class="titulos">
                    <img class="imageCur" src="./image/estuicon.png" >
                    <div class="texto">Historial Academico</div>
                </div>
                <div class="contenido">
                    <p class="encabezado">Educacion superior</p>
                    <div class="descrip">
                        <p>Instituto tecnologico Superior de Acayucan</p>
                        <p>Ingenieria en Sistemas Computacionales</p>
                        <p>Especialidad: Aplicaciones moviles</p>
                        <p>Ciclo escolar: Agosto 2015 - Mayo 2020</p>
                    </div>
                    <p class="encabezado">Educacion media superior</p>
                    <div class="descrip">
                        <p>Colegio de Bachilleres del estado de Veracruz</p>
                        <p>Plantel #17</p>
                        <p>Area: Redes de Computadoras CISCO</p>
                        <p>Ciclo escolar: Agosto 2012 - Julio 2015</p>
                    </div>
                </div>
            </div>
            <div v-if="screenActual === 'Habilidades'" class="cajas" id="Habilidades">
                <div class="titulos">
                    <img class="imageCur" src="./image/habiliicon.png" >
                    <div class="texto">Habilidades</div>
                </div>
                <div class="contenido">
                    <div class="barras-varias">
                        <div v-for="habilidad in habilidades" class="barras-varias">
                            <div class="palabra">{{habilidad.name}}:</div>
                            <div class="barra-num">
                                    <div class="barra-ext">
                                        <div class="barra-gene" v-bind:id="habilidad.id">{{habilidad.porcentaje}}%</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="screenActual === 'ExpPro'" class="cajas" id="ExpPro">
                <div class="titulos">
                    <img class="imageCur" src="./image/expeicon.png" >
                    <div class="texto">Experiencia Profesional</div>
                </div>
            </div>
            <div v-if="screenActual === 'Recon'" class="cajas" id="Recon">
                <div class="titulos">
                    <img class="imageCur" src="./image/premicon.png" >
                    <div class="texto">Reconocimientos</div>
                </div>
                <div class="contenido">
                    <div id="bloquesExp">
                            <span class="iconosExp icon-number"></span>
                            <p id="desReco">Reconocimiento de participacion en el Encuentro Nacional de Innovacion Tecnologica, en Tehuacan Puebla</p>
                    </div>
                </div>
            </div>
            <div v-if="screenActual === 'Contac'"  class="cajas" id="Contac">
                <div class="titulos">
                    <img class="imageCur" src="./image/teleicon.png" >
                    <div class="texto">Contacto</div>
                </div>
                <div class="contenido" id="ctn1">
                    <div id="bloque1">
                        <div v-for="contacto in contactoB1" class="segmento">
                            <div class="img-contac1" @click='copyToClipboardGeneral(contacto.callBack)'>
                                <a v-bind:href="contacto.href" target="_blank">
                                    <img class="img-contac" v-bind:src="contacto.image">
                                </a>
                                <span class="tooltip" id="tool">{{contacto.tooltip}}</span>
                            </div>
                            <div class="enunciado">{{contacto.enunciado}}</div>
                        </div>
                    </div>
                    <div id="bloque2">
                        <div v-for="contacto in contactoB2" class="segmento">
                            <div class="img-contac1" @click='copyToClipboardGeneral(contacto.callBack)'>
                                <a v-bind:href="contacto.href" target="_blank">
                                    <img class="img-contac" v-bind:src="contacto.image">
                                </a>
                                <span class="tooltip" id="tool">{{contacto.tooltip}}</span>
                            </div>
                            <div class="enunciado">{{contacto.enunciado}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./scripts/index.js"></script>

    <script src="./modulos/jspdf.min.js"></script>
    <script src="./scripts/createPDF.js"></script>
    <script src="./scripts/libEdad.js"></script>
    <script>
        window.onresize = (event) => {
            app.setLeft();
            app.menuVisible = (app.isMovilScreen() == 0) ? true : false ;
        }
    </script>
    <!-- <script src="./scripts/script.js"></script> -->
</body>
</html>